SECRET_KEY='dpofjkkkkkkkkkkkkkkkkkkkkkkkkkki-72gk@ci@y^9t'
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="email@gmail.com"
EMAIL_HOST_PASSWORD="ioej vpi wevp wevpiwej" # app password not real password at https://myaccount.google.com/apppa
